.pet-profile-container {
    margin: 80px 40px 40px 40px;
}

.pet-profile-content {
    margin-top: 20px;
    margin-left: 40px;
}

.pet-profile-image {
    /*height: 300px;*/
    width: 100%;
}

.pet-profile-top-info {
    padding-top: 50px;
    /*background-color: orange;*/
}

.fill-profile-image {
    width: 300px;
    height: 300px;
    /*object-fit: cover;*/
}
