.footer {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    flex: 0 0 auto; /* Set header to not grow or shrink */

}

.footer-right {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    padding-right: 40px;
}

.footer-logo {
    color: #000;
    text-decoration: none;
}

.footer-logo-highlight {
    color: #C0767A;
}

.footer-right {
    display: flex;
    align-items: center;
}


